<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Medical Services</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li
          class="row"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/profiles">Profiles</a>
        </li>
        <li
          class="row"
          role="presentation"
          routerLinkActive="active"
          style="padding-left: 10px"
        >
          <a routerLink="#">Appointments</a>
        </li>

        <li
          class="row"
          role="presentation"
          routerLinkActive="active"
          style="padding-left: 10px"
        >
          <a routerLink="#">Facilities</a>
        </li>
        <li class="row" role="presentation">
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
